/*!
 * fly.css custom styles for FlyByQuestions
 */

#question{
    width:200px; 
    height:200px;
}
.spacer{
    height:10px;
}
#remainder{
    
}
#uid{
    
}
#image{
    height:300px;
    alt="imgur pls..."
}