#divtimer {
  width: 200px;
  height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #3A393F;
  border-radius: 25px;
}

#timer {
  font-size:45px; 
  color:#63B9D2;
  margin-top=0px;
}

#swipeThis {
  width: 70%;
  position:relative;
}

#swipeimg {
  height:400px;
}

#header {
  background-color: #f3ab1c;
  height: 64px;
  margin-bottom: -3px;
}  

#header #stacks {
  height: 44px;
  background-color: transparent;
}

.left {
  float: left!important;
}

.fullWidth {
  width: 100%!important;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.column, .columns {
  position: relative;
  padding-left: .9375rem;
  padding-right: .9375rem;
  float: left;
}

#header #stacks img {
  float: left;
  padding-top: 1px;
}

#hoverYes {
  background-color:white;
  z-index:100;
  position:absolute;
  top: 34%;
  left: 50%;
  opacity: 0.0;
}

#hoverYes:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


#hoverNo {
  background-color:white;
  z-index:100;
  position:absolute;
  top: 34%;
  right: 50%;
  opacity: 0.0;

}

#hoverNo:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#checkmark {
  height:70px;
  position:absolute;
}

#xmark {
  height:70px;
  position:absolute;
}

#TTcontents {
  background-color: white;
  height:80%;
  width: 80%;
  position: absolute;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

#frontimage {
    background:url("../img/3roads.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    position: static;
}

#signupbox {
    margin-top: 150px;
}

#headersignup {
  color:#43B4E3;
}

body.frontimage {
  background: url("../img/3roads.jpg") repeat 0 0;
}


#next1 {
  margin-top: 45px;
}

#next2 {
  margin-top: 45px;
}

#next3 {
  margin-top: 45px;
}

#next4 {
  margin-top: 45px;
}

#next5 {
  margin-top: 45px;
}

#next6 {
  margin-top: 45px;
}

#next7 {
  margin-top: 45px;
}

#next8 {
  margin-top: 45px;
}

#next9 {
  margin-top: 45px;
}

#next10 {
  margin-top: 45px;
}

#instructions {
  margin-top: 80px;
  margin-right: 25%;
  margin-left: 25%;
}
